@font-face {
    font-family: Lato;
    src: url(../assets/fonts/lato/Lato-Bold.ttf) format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: Lato;
    src: url(../assets/fonts/lato/Lato-Regular.ttf) format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: Lato;
    src: url(../assets/fonts/lato/Lato-Light.ttf) format("truetype");
    font-weight: lighter;
}