:root {
    /* Under the sea pantone color */
    --sea-pink: #de98ab;
    --limpet-shell: #98ddde;
    --living-coral: #f36e60;
    --vibrant-yellow: #ffdb3b;
    --turkish-sea: #185190;
    --viridian-green: #359499;
    --turtle-green: #81894e;
    --blue-depths: #273055;
  }